@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@
<div class="container">
    <h3 style="color:darkblue">Општи информации</h3>
    <p style="height:30px"></p>
    <h2 style="color:darkblue;"><strong>Е-Дневник</strong></h2>
    <p style="height:30px"></p>
    <h4>Е-дневник за секое училиште им овозможува на родителите освен постигнатиот успех на учениците да можат да ги видат и главните известувања за училиштето, 
    проектите во кои може да се вкулчат учениците како и поважните настани организирани од учениците на кои се поканети родителите.</h4>
    <img style="width:100%" src="~/Images/e-dnevnik.jpg" />
</div>
