@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@
<body>
    @*<div style="background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); height:500px"></div>*@
    <div style="background: linear-gradient(150deg, #e3f2fd 60%, #89CFF0 10%); height: 750px ">
        <div class="container">
            @*@Html.ActionLink("Додади улога", "AddUsertoRole", "Account", new { @class = "btn btn-primary btn-large" })*@
            <p style="height:50px"></p>
            <h2 style="color:cornflowerblue">
                <strong>Контактирајте не:</strong>
            </h2>
            <p></p>
            <p style="font:large">
                Тел: 031-456-982
            </p>
            <p>
                E-mail: direktor@gmail.com
            </p>
        </div>
        
    </div>

</body>